.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  font-size: 2rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .submitButton {
    margin-top: 1rem;
    padding: 0.3rem;

    color: var(--white);

    border: none;
    background-color: var(--purple-500);

    &:hover {
      filter: brightness(0.9);
    }
  }
}